@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  overflow-x: hidden;
}

hr {
  display: block;
  height: 2px;
  border: 0;
  border-top: 2px solid #FF7700;
  margin: 1em 0;
  padding: 0;
}